@{
    ViewData["Title"] = "Home Page";
}

@model Category

<div class="text-center">
    <h3 class="display-4">@Model.CategoryName</h3>
</div>

<hr>

<div class="column-con">
    <div><h4>Products</h4></div>
    <div><h4>Add Product</h4></div>
</div>


<div class="column-con">
    <div class="column">
        <ul>
            @foreach(ProdCatMany prodCatMany in Model.CategoryProducts)
            {
                <li>@prodCatMany.product.ProductName</li>
            }
        </ul>
    </div>

    <div class="column">
        <partial name="_AddProdToCatPartial" model='new ProdCatMany{}'>

        </partial>
    </div>
</div>


