@{
    ViewData["Title"] = "Home Page";
}

@model List<Category>

<div class="text-center">
    <h3 class="display-4"><a href="/products">Products</a> | Categories </h3>
</div>

<hr>

<div class="column-con">
    <div><h4>New Category</h4></div>
    <div><h4>Existing Categories</h4></div>
</div>


<div class="column-con">
    <partial name="_AddCategoryPartial" model='new Category{}'></partial>
    <ul>
        @foreach(Category category in Model)
        {
            <div>
                <li><a href="categories/@category.CategoryId">@category.CategoryName</a></li>
            </div>
        }
    </ul>
</div>


