@{
    ViewData["Title"] = "Home Page";
}

@model List<Product>

<div class="text-center">
    <h3 class="display-4">Products | <a href="/categories">Categories</a></h3>
</div>

<hr>

<div class="column-con">
    <div><h4>New Product</h4></div>
    <div><h4>Existing Products</h4></div>
</div>


<div class="column-con">
    <partial name="_AddProductPartial" model='new Product{}'></partial>
    <ul>
        @foreach(Product product in Model)
        {
            <div>
                <li><a href="products/@product.ProductId">@product.ProductName</a></li>
            </div>
        }
    </ul>
</div>


